h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 2em;
}

.busca {
    display: flex;
    margin: 0.5em;
    justify-content: center;
}

.busca button {
    margin-right: 1em;
    margin-bottom: 1em;
}

header {
    display: none;
}

.totais {
    display: none;
}

.assinaturas {
    display: none;
}

#profissionais ul li:hover {
    background-color: lightgray;
    border-bottom: solid black 1px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    margin-top: 5em;
    width: 100%;
    text-align: center;
}

#aviso {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

@media print {

    main,
    h1,
    #imprimir,
    footer {
        display: none;
    }

    h3 span {
        font-weight: normal;
    }

    header {
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 0;
    }

    header span {
        font-size: 0.8em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5em;
    }

    .img {
        height: 15%;
        width: 15%;
    }

    .busca {
        display: none;
    }

    table {
        font-size: 12px;
        padding: 0;
        margin: 0;
        line-height: 0.2em;
    }

    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
        padding: 0;
        margin: 0;
    }

    .assinaturas {
        display: flex;
        justify-content: space-around;
    }

    .assinaturas p {
        margin-top: 5em;
        border-top: 0.1em solid black;
        width: 20em;
        text-align: center;
        padding-top: 1em;
    }

    @page {
        page-break-after: auto;
        margin-left: 1cm;
        margin-right: 1cm;
        margin-bottom: 1cm;
        margin-top: 1cm;
    }
}